{% extends 'base.html' %}

{% block content %}
<!--loading filters-->
{% load cart %}
{% load custom_filter %}

<div class="container bg-light">
    <div class="border rounded p-4 m-4 bg-light">
      <p class="text-center pl-4 ml-4 display-4">Your Cart</p>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
        <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
        <th scope="col">Total</th>
    </tr>
  </thead>

  <tbody>
        {% for product in cart %}
    <tr class="">
      <td >{{forloop.counter}}</td>
        <td><img style="height:80px;" src="{{product.image.url}}" class="rounded-circle " alt="">
            <div>
                  <form action="/cart/" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" value="{{product.id}}" name="product">
                  <button type="submit" class="card-link-secondary small text-uppercase mr-3 my" style="background: none; border: none;" name="remove">
                    <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="15"
                          fill="currentColor"
                          class="bi bi-trash"
                          viewBox="0 0 16 16"
                    >
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    Remove item
                  </button>
                       </form>
                </div>
        </td>
      <td>{{product.name}}</td>
      <td>{{product.price|currency}}</td>
<!--      <td>{{product|cart_quantity:request.session.cart}}</td>-->
        <td>{{product|price_total:request.session.cart|currency}}</td>
    </tr>
     {%endfor%}

  </tbody>
            <tfoot>
              <tr>
                  <th colspan="2"></th>
                  <th colspan="">Total</th>
                  <th>{{cart|total_cart_price:request.session.cart|currency}}</th>
              </tr>
            </tfoot>
</table>

  <div class="m-3 p-3">
      <a href="#" class=" btn btn-outline-info border rounded ml-auto" data-toggle="modal" data-target="#exampleModal">Chekout</a>
  </div>
    </div>
</div>

<!--modal-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
            <form action="/checkout/" method="post"> {% csrf_token %}
                <div class="form-group">
                    <label >Address</label>
                    <input type="text" name="address"  class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label >Phone</label>
                    <input type="text" name="phone" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label >Rent Date</label>
                    <input type="date" name="rent_date" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label >Return Date</label>
                    <input type="date" name="return_date" class="form-control" placeholder="" aria-describedby="helpId">
                </div>

                <input type="submit" value="Checkout" class="btn float-right btn-outline-info col-lg-6">
             </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}