{% extends 'base.html' %}

{% block content %}
  <!--card-->
{% load cart %}
{% load custom_filter %}
<div class="container-fluid mt-3">
  <div class="row">
<!-- filter-->
      <div class="col-lg-2 mx-auto">
          <a href="/?category={{category.id}}" class="list-group-item list-group-item-action " style=" font-family: 'Stylish'; font-size: 20px">All products</a>
          <div class="list-group">

<!--              to show category-->
              {% for category in categories%}
<!--              for getting category by id-->
              <a href="/?category={{category.id}}" style=" font-family: 'Stylish'; font-size: 20px" class="list-group-item list-group-item-action ">{{category.name}}</a>
               {%endfor%}
          </div>
      </div>
      <!--all products-->
      <div id="products" class="col-lg-10">

          <div class="row mx-auto">
<!--          all the products-->
              {% for product in products %}
    <div class="card mx-auto mb-3 mt-3" id="{{product.id}}" style="width: 18rem;">
      <img src="{{product.image.url}}" alt="...">
       <div class="card-body ">
         <p class="card-title">{{product.name}}</p>
        <p class="card-text"><label style="color:green">Price :</label> {{product.price|currency}}</p>

<!--           it is filter for cart-->
           {{ product|isInCart:request.session.cart }}

       </div>
<!--        footer : contains the add to cart and quantity-->
        {% if product|isInCart:request.session.cart %}
        <div class="row " >
<!--            minus button-->
<!--            <form action="/" class="col-2" method="post">-->
<!--                {% csrf_token %}-->
<!--                <input hidden name="product" type="text" value="{{product.id}}">-->
<!--                <input hidden name="product" type="text" value="True" name="remove">-->
<!--                <input type="submit" value="-" class="btn btn-block btn-secondary">-->
<!--            </form>-->
            <div class="text-center col"><label style="color:green">Added into cart</label></div>
<!--            plus button
<form action="/"class="col-2" method="post"> {% csrf_token %}-->
<!--                <input hidden name="product" type="text" value="{{product.id}}">-->
<!--                <input type="submit" value="+" class="btn btn-block btn-secondary">-->
<!--            </form>-->
        </div>
        {% else %}
            <form action="/#{{product.id}}" method="post"> {% csrf_token %}
               <input hidden name="product" type="text" value="{{product.id}}">
               <input href="#" type="submit" class="btn btn-primary form-control" value="Add to cart">
           </form>
        {% endif %}

      </div>
{% endfor %}
      </div>
      </div>
  </div>
</div>



{% endblock %}



