{% extends 'base.html' %}

{% block content %}
<!--loading filters-->
{% load cart %}
{% load custom_filter %}
<div class="container bg-light">
    <div class="border rounded p-4 m-4 bg-light">
      <p class="text-center pl-4 ml-4 display-4">Your Orders</p>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
        <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
        <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
        {% for product in cart %}
    <tr class="">

      <td >{{forloop.counter}}</td>
        <td><img style="height:80px;" src="{{product.image.url}}" class="rounded-circle " alt=""></td>
      <td>{{product.name}}</td>
      <td>{{product.price|currency}}</td>
<!--      <td>{{product|cart_quantity:request.session.cart}}</td>-->
        <td>{{product|price_total:request.session.cart|currency}}</td>
    </tr>
     {%endfor%}

  </tbody>
</table>


    </div>
</div>


{% endblock %}